<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <base href="/" />
  <link rel="icon" href="dist/img/Logo.png" type="image/png" sizes="16x16" />
  <title><%= title %> | Info</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css" />
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css" />
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="./" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="contact" class="nav-link">Contact</a>
        </li>
      </ul>

      <!-- SEARCH FORM -->
      <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
          <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" />
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <span class="badge badge-pill badge-secondary p-2">
              Emulator&nbsp;
              <% if (emulator.enable) { %>
              <i class="fa fa-pause-circle"></i>
              <% } else { %>
              <i class="fa fa-play-circle"></i>
              <% } %>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <label for="TimeInterval">Time Interval:</label>
                  <input type="number" class="form-control" id="TimeInterval" value="<%= emulator.interval %>"
                    <% if (emulator.enable) { %>disabled<% } %>>
                </div>
              </div>
              <div class="row mt-1">
                <div class="d-flex flex-row align-items-center">
                  <div class="p-2">
                    <label for="emulator">
                      <% if (emulator.enable) { %>
                      Disable:
                      <% } else { %>
                      Enable:
                      <% } %>
                    </label>
                  </div>
                  <div class="p-2">
                    <a id="emulator_url" class="nav-link h4" href="emulator/<%= emulator.interval %>"
                      aria-expanded="false" title="Emulator">
                      <% if (emulator.enable) { %>
                      <i id="emulator" class="fa fa-toggle-on"></i>
                      <% } else { %>
                      <i id="emulator" class="fa fa-toggle-off"></i>
                      <% } %>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="./" class="brand-link">
        <img src="dist/img/Logo.png" alt="<%= title %> Logo" class="brand-image img-circle" style="opacity: 0.8;" />
        <span class="brand-text font-weight-light"><%= title %></span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="dist/img/Monitor.png" class="" alt="Monitor Logo" />
          </div>
          <div class="info">
            <a href="#" class="d-block">Active Monitoring</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="./" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="info" class="nav-link active">
                <i class="nav-icon fas fa-inbox"></i>
                <p>
                  Info
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="contact" class="nav-link">
                <i class="nav-icon fas fa-address-card"></i>
                <p>
                  Contact
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Info</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="info">Info</a></li>
                <li class="breadcrumb-item">Records</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Current Records</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                      <i class="fas fa-expand"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table id="example" class="table table-bordered table-striped">
                    <thead class="text-center">
                      <tr>
                        <th>Location</th>
                        <th>Moisture (in %)</th>
                        <th>Turbidity (in NTU)</th>
                        <th>pH</th>
                        <th>Quality Index (in %)</th>
                        <th>Info</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <% for (loc in currentTable) { %>
                      <tr>
                        <td class="text-left"><%= loc %></td>
                        <td id="CT-M-<%= loc %>"><%= currentTable[loc].s1 %></td>
                        <td id="CT-T-<%= loc %>"><%= currentTable[loc].s2 %></td>
                        <td id="CT-P-<%= loc %>"><%= currentTable[loc].s3 %></td>
                        <td id="CT-Q-<%= loc %>"><%= currentTable[loc].qi %></td>
                        <td>
                          <a class="btn btn-outline-info" href="info/<%= loc %>" role="button">View</a>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                    <tfoot class="text-center">
                      <tr>
                        <th>Location</th>
                        <th>Moisture (in %)</th>
                        <th>Turbidity (in NTU)</th>
                        <th>pH</th>
                        <th>Quality Index (in %)</th>
                        <th>Info</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Alert Records</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                      <i class="fas fa-expand"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead class="text-center">
                      <tr>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Moisture (in %)</th>
                        <th>Turbidity (in NTU)</th>
                        <th>pH</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td class="text-left">Sugandhya</td>
                        <td>2020/03/05</td>
                        <td>17:28:37</td>
                        <td>35</td>
                        <td>2550</td>
                        <td>7.1</td>
                      </tr>
                    </tbody>
                    <tfoot class="text-center">
                      <tr>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Moisture (in %)</th>
                        <th>Turbidity (in NTU)</th>
                        <th>pH</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Previous Records</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                      <i class="fas fa-expand"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-striped">
                    <thead class="text-center">
                      <tr>
                        <th>Location</th>
                        <th>This Month</th>
                        <th>Last Month</th>
                        <th>Last 3 Months</th>
                        <th>Last 6 Months</th>
                        <th>Last 12 Months</th>
                        <th>All Time</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <% for (loc in currentTable) { %>
                      <tr>
                        <td class="text-left"><%= loc %></td>
                        <td><a class="btn btn-outline-info" href="info/<%= loc %>/Data/TM" role="button">View</a></td>
                        <td><a class="btn btn-outline-info" href="info/<%= loc %>/Data/LM" role="button">View</a></td>
                        <td><a class="btn btn-outline-info" href="info/<%= loc %>/Data/LM3" role="button">View</a></td>
                        <td><a class="btn btn-outline-info" href="info/<%= loc %>/Data/LM6" role="button">View</a></td>
                        <td><a class="btn btn-outline-info" href="info/<%= loc %>/Data/LM12" role="button">View</a></td>
                        <td><a class="btn btn-outline-info" href="info/<%= loc %>/Data/AT" role="button">View</a></td>
                      </tr>
                      <% } %>
                    </tbody>
                    <tfoot class="text-center">
                      <tr>
                        <th>Location</th>
                        <th>This Month</th>
                        <th>Last Month</th>
                        <th>Last 3 Months</th>
                        <th>Last 6 Months</th>
                        <th>Last 12 Months</th>
                        <th>All Time</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2019-2020 <a href="./"><%= title %></a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge("uibutton", $.ui.button);
  </script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables -->
  <script src="../../plugins/datatables/jquery.dataTables.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.js"></script>
  <!-- Socket.IO -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- page script -->
  <script>var socket=io();$("#TimeInterval").bind("keyup mouseup",function(){$("#emulator_url").attr("href",`emulator/${$("#TimeInterval").val()}`)}),$("#example").DataTable(),$("#example1").DataTable(),$("#example2").DataTable(),socket.on("BasicInfo",function(e){let n=document.getElementById(`CT-M-${e.basicInfo.loc}`),a=document.getElementById(`CT-T-${e.basicInfo.loc}`),o=document.getElementById(`CT-P-${e.basicInfo.loc}`),t=document.getElementById(`CT-Q-${e.basicInfo.loc}`);n.innerText=e.basicInfo.info.s1.value,a.innerText=e.basicInfo.info.s2.value,o.innerText=e.basicInfo.info.s3.value,t.innerText=e.basicInfo.info.qi.value});</script>
</body>

</html>